header{
    z-index: 10;
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    height: 93px;
    overflow: hidden;
    background-color: #fff;
}

.head-top{
    height: 46px;
    width: 100%;
}
.head-top img{
    height:24px ;
    width: 103px;
    margin-left: 10px;
    margin-top:15px ;
    float: left;
}
.head-top a{
    position: relative;

}
.head-top span{
    position: absolute;
    right: 10px;
    top: 7px;
   color: #ff6022;
}
.head-bottom a{
    display: inline-block;
    position: relative;
    padding: 9px 2px;
    color: #272727;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;

}
.search{
    float: right;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 150px;
    height: 30px;
    padding-top: 0;
    border-radius: 5px;
    background-color: #f6f6f7;
    text-align: center;
}
.search i{
    width:20px ;
    height:20px ;
    float: left;
}

.search input{
    width:100px ;
    height:30px ;
    border: none;
    float: left;
    background-color: #f6f6f7;
    padding-left: 10px;
    font-size: 13px;
    line-height: 30px;
    color: #b3b3b3;
}

.head-bottom{
height:46px ;
width: 100%;
}
.carousel a{
    width: 100%;
    background: #f2f4f5;
}
.carousel{
    width: 100%;
    background: #f2f4f5;
}
.carousel img{
    width: 100%;
}
.list{
    display: inline-block;
    width: auto;
    margin-right: 13px;
    margin-left: 9px;
}
.explain{
    width: 100%;
    height: 30px;
    background: #f2f4f5;
}
.explain a{
    width: 100%;
    /* margin: 0;
    padding: 13px 0; */
    color: #000028;
    font-size: 14px;
    line-height: 30px;
}
.explain i{
    line-height: 25px;
    float: right;
 font-size: 14px;
}
.guess{
    width: 100%;
}
.guess h1{
    font-size: 18px;
    line-height: 30px;
}
.guess-list{
    width: 100%;
}
.guess-list ul{
    width: 100%;   
}
.guess-list ul li{
    position: relative;
    width: 50%;
    float: left;
}
.guess-list ul li img{
    width: 98%;
    height: 25.07vw;
}
.guess-list ul li a{
position: absolute;
top: 5px;
left: 0;
padding-left: 12px;
color: #fff;
font-size: 10px;
line-height: 9px;
text-shadow: 0 1px 2px #555;
}
.guess-list ul li .set{
    position: absolute;
    right: 20px;
    bottom: 40px;
    padding: 2px 3px;
    background-color: #a2a2b6;
    background-color: rgba(162,162,182,.5);
    color: #fff;
    font-size: 10px;
    line-height: 1;
}

/* .yangzi span{
    position: absolute;
    right: 5px;
    bottom: 5px;
} */

.yangzi{
    width: 100%;
}
.yangzit ul{
    width: 100%;   
}
.yangzi ul li{
    position: relative;
    width: 50%;
    float: left;
}
.yangzi ul li img{
    width: 98%;
    height: 25.07vw;
}
.yangzi ul li a{
position: absolute;
top: 5px;
left: 0;
padding-left: 12px;
color: #fff;
font-size: 10px;
line-height: 9px;
text-shadow: 0 1px 2px #555;
}
.yangzi ul li .set{
    position: absolute;
    right: 20px;
    bottom: 40px;
    padding: 2px 3px;
    background-color: #a2a2b6;
    background-color: rgba(162,162,182,.5);
    color: #fff;
    font-size: 10px;
    line-height: 1;
}
.yangzi ul li p:first-child{
    margin-top: 6px;
    padding: 0;
    color: #000028;
    font-size: 14px;
    line-height: 20px;
}
.guess-list ul li p:first-child{
    margin-top: 6px;
    padding: 0;
    color: #000028;
    font-size: 14px;
    line-height: 20px;
}
.guess-list ul li p:last-child{
    margin-top: 4px;
    color: #a2a2b6;
    font-size: 12px;
    line-height: 18px;
}
.yangzi ul li p:last-child{
    margin-top: 4px;
    color: #a2a2b6;
    font-size: 12px;
    line-height: 18px;
}
.exchange{
   width: 100%;
}
.exchange-box{
    width: 20%;
    margin: 0 auto;
}

.exchange-box a{
    color: #a2a2b6;
}
.child{
    width: 100%;
}
.child ul{
    width: 100%;   
}
.child ul li{
    position: relative;
    width: 50%;
    float: left;
}
.child ul li img{
    width: 98%;
    height: 25.07vw;
}
.child ul li a{
position: absolute;
top: 5px;
left: 0;
padding-left: 12px;
color: #fff;
font-size: 10px;
line-height: 9px;
text-shadow: 0 1px 2px #555;
}

.child ul li p:first-child{
    margin-top: 6px;
    padding: 0;
    color: #000028;
    font-size: 14px;
    line-height: 20px;
}
.child ul li p:last-child{
    margin-top: 4px;
    color: #a2a2b6;
    font-size: 12px;
    line-height: 18px;
}
.ad {
    width: 100%;
}

.ad img{
    width: 100%;
}
.ad ul{
    width: 100%;   
}
.ad ul li p:first-child{
    margin-top: 6px;
    padding: 0;
    color: #000028;
    font-size: 14px;
    line-height: 20px;
}
.ad ul li p:last-child{
    margin-top: 4px;
    color: #a2a2b6;
    font-size: 12px;
    line-height: 18px;
}

.ad ul li a{
    position: absolute;
    top: 5px;
    left: 0;
    padding-left: 12px;
    color: #fff;
    font-size: 10px;
    line-height: 9px;
    text-shadow: 0 1px 2px #555;
}
.ad ul li{
    position: relative;
}
.ad ul li .set{
    position: absolute;
    right: 20px;
    bottom: 40px;
    padding: 2px 3px;
    background-color: #a2a2b6;
    background-color: rgba(162,162,182,.5);
    color: #fff;
    font-size: 10px;
    line-height: 1;
}

.ad-content{
    width: 100%;
}
.ad-content ul{
    width: 100%;   
}
.ad-content ul li{
    position: relative;
    width: 50%;
    float: left;
}
.ad-content ul li img{
    width: 98%;
    height: 25.07vw;
}
.ad-content ul li a{
position: absolute;
top: 5px;
left: 0;
padding-left: 12px;
color: #fff;
font-size: 10px;
line-height: 9px;
text-shadow: 0 1px 2px #555;
}
.ad-content ul li .set{
    position: absolute;
    right: 20px;
    bottom: 40px;
    padding: 2px 3px;
    background-color: #a2a2b6;
    background-color: rgba(162,162,182,.5);
    color: #fff;
    font-size: 10px;
    line-height: 1;
}
.ad-content ul li p:first-child{
    margin-top: 6px;
    padding: 0;
    color: #000028;
    font-size: 14px;
    line-height: 20px;
}
.ad-content ul li p:last-child{
    margin-top: 4px;
    color: #a2a2b6;
    font-size: 12px;
    line-height: 18px;
}
.guess-list ul li i{
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 10px;
    font-size:5px ;
    color: #ff6022;
}
.yangzi ul li i{
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 10px;
    font-size:5px ;
    color: #ff6022;
}
.child ul li i{
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 10px;
    font-size:5px ;
    color: #ff6022;
}
.ad ul li i{
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 10px;
    font-size:5px ;
    color: #ff6022;
}
.ad-content ul li i{
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 10px;
    font-size:5px ;
    color: #ff6022;
}
.exchange-box i{
    color: #ff6022;
}
.exchanged{
    width: 100%;
    margin-top: 306px;
 }
 .exchanged-box{
     width: 20%;
     margin: 0 auto;
 }

 .exchanged-box a{
     color: #a2a2b6;
 }
 .exchanged-box i{
    color: #ff6022;
}
/* 电影 */
.head-two{
    position: relative;
    width: 100%;
    height: 48px;
    background-color: #EFEFEF;
}

.search-two{
    position: absolute;
    top: 4px;
    left: 10px;
    width: 95%;
    height: 29px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: #fff;
}
.head-two input{
    border: none;
    padding: 4px;
    width: 90%;
    margin: 5px auto;
    font-size: 14px;
    color: #979797;
    border-radius: 5px;
}
.head-two span{
    color: #979797;
    width: 22px;
    height: 22px;
    font-size: 22px;
}
nav ul{
    overflow: hidden;
    width: 206%;
    height: 48px;
    border-top: 1px solid #ccc;
}
nav ul li{
    width: 10%;
    float: left;
}
nav ul li a{
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    color: #222;
    padding: 0 13px;
    border-radius: 15px;
}
.ad ul li .video{
    position: absolute;
    right: 20px;
    bottom: 10px;
    padding: 2px 3px;
    background-color: #a2a2b6;
    background-color: rgba(162,162,182,.5);
    color: #fff;
    font-size: 10px;
    line-height: 1;
}
.change{
 position: relative;

    width: 100%;
    margin-top: 459px;
 }
 .change-box{
    position: absolute;
    top: -39px;
    left: 152px;
    width: 20%;
    margin: 0 auto;
 }
 .change-box i{
    color: rgb(255, 166, 0);
}
 .change-box a{
     color: #a2a2b6;
 }
 .zhaowei{
     width: 280%;
     overflow: hidden;
 }
 .zhaowei ul li{
    width: 11%;
    float: left;
    margin: 0px 3px;
}
.zhaowei ul li img{
    width: 98%;
}
.zhaowei{
    position: relative;
}
.zhaowei ul li i{
    position: absolute;
    top: 0px;
    left: 7px;
    color: rgb(250, 145, 8);
}
/* .zhaowei ul li a{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 10px;
    line-height: 9px;
} */
.vip-left{
    position: absolute;
    top: 17px;
    left: 15px;
    width: 122px;
    height: 27px;
    background: url(./image/logo_gold.png) no-repeat 0 0;
    background-size: 100%;
}
.vip-top{
    position: relative;
    width: 100%;
    height: 55px;
    background-color: black;
}
.vip-right{
    position: absolute;
    right: 11px;
    top: 0px;
    margin-top: 15px;
    float: right;
}
.vip-right i,a{
  color: #fff;
}
.vip-right i{
    width: 16px;
    height: 16px;
    margin-left: 23px;
  }
  .vip-right a{
   font-size: 16px;
   margin-left:10PX ;
  }
  .full{
      display: inline-block;
      padding: 5 13px;
      text-align: center;
      line-height: 26px;
      color: #fff;
      font-size: 14px;
      margin-left: 14px;
      border-radius: 4px;
      background: #FF6022;
  }
  .full span{
   margin: 0 10px;
}
.play img{
    width: 100%;
    height: 100%;
}
.play ul {
    width: 100%;
}
.play ul li img{
    width: 100%;
}
.play a{
    width: 30%;
    height:4px ;
    background-color: rgb(245, 205, 24);
}
.log-in{
margin: 0 auto;
    width: 30%;
    height: 40px;
}
.log-in a{
    width: 100%;
    height: 40px;
    background-color: #ffdf89;
    padding: 10px 10%;
}
.play{
    position: relative;
    width: 100%;
}

.play a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 39.7%;
    line-height: 37px;
    border-radius: 22px;
    text-align: center;
    color: #663d00;
    font-size: 14px;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(90deg,#ffdf89,#f2ca5b);
    height: 40px;
}
.person{
    width: 100%;
    height: 100px;
    position: relative;
    padding: 53px 0 57px;
}
.person-logo{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid #545752;
    background: url(../image/default_160.png) no-repeat;
    background-size: 100%;
    border-radius: 50%;
    margin-bottom: 21px;
}
.person .s{
    font-size: 15px;
    color: #30312e;
    line-height: 24px;
    text-align: center;
    margin-bottom: 3px;
}
.person p:last-child{
    font-size: 12px;
    color: #979797;
    line-height: 20px;
    text-align: center;
}
.weixinqq{
    width: 100%;
    
}
.weixinqq a{
    display: block;
    width: 225px;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: #fff;
    border-radius: 23px;
    margin-bottom: 20px;
    background: #2ec637;
}
.weixinqq a:first-child i{
    display: inline-block;
    width: 25px;
    height: 21px;
    background-image: url(../image/sprite_icon.png);
    background-repeat: no-repeat;
    background-position: 9999em 9999em;
    background-size: 60px;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    top: -2px;
    background-position: 0 0;
}
.weixinqq a:last-child i{
    display: inline-block;
    width: 25px;
    height: 21px;
    background-image: url(../image/sprite_icon.png);
    background-repeat: no-repeat;
    background-position: 9999em 9999em;
    background-size: 60px;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    top: -2px;
    background-position: -30px 0;
}
.big-logo{
    background-image: url(../image/longbishu.jfif);
}
.huoyunxieshen{
    position: relative;
    width: 100%;
}
.huoyunxieshen ul{
    width: 100%;
}
.huoyunxieshen ul li{
    width: 100%;
}
.huoyunxieshen ul li img{
    width: 100%;
}
.huoyunxieshen ul li img a{
    width: 100%;
}
.huoyunxieshen ul li  a i{
    position: absolute;
    top: 0;
    right: 391px;
    color: orangered;
}
.huoyunxieshen ul li a b{
    position: absolute;
    top: 4px;
    left: 22px;
    color: #fff;
}
.video-open{
    position: relative;
    width: 100%;
    height: 46px;
    background-color:#f2f4f5 ;
}
.video-open a{
    width: 90%;
    margin: 0;
    padding: 13px 0;
    color: #000028;
    font-size: 14px;
    line-height: 46px;
}
.video-open i{
    z-index: 1;
    position: absolute;
    right: 14px;
    top: 5px;
    padding-left: 5px;
    background: #f2f4f5;
    line-height: 46px;
}

.yuandan{
    width: 100%;
    overflow: hidden;
}
.yuandan ul{
    width: 1000%;
}
.yuandan ul li{
    width:20%;
    float: left;
    height: 3rem;
}
.introduce{
    margin-top: -9px;
}
.introduce span{
    /* font-size: 13px; */
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #848494;
    margin-bottom: 15px;
}
.discont{
    width: 100%;
}
.discont span{
    display: inline-block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    background: #E5C057;
    margin: 20px 0;
}

.zoxun h2{
    font-weight: 700;
    font-size: 15px;
    line-height: 35px;
    margin-top: 20px;
}
.pianhua ul li{
    width: 145px;
    float: left;
    margin: 0px 3px;
}
.pianhua ul li img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.pianhua ul{
    width: 1221px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 20px;
}
.pianhua{
   overflow: hidden;
   position: relative;
}
.pianhua ul li a p{
    display: block;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #000028;
    margin-bottom: 20px;
}
.recommend{
    width: 100%;
}
.recommend ul{
    width: 100%;   
}
.recommend ul li{
    position: relative;
    width: 50%;
    float: left;    
}
.recommend ul li img{
    width: 98%;
    height: 25.07vw;
    border-radius: 5px;
}
.recommend ul li a{
position: absolute;
top: 5px;
left: 0;
padding-left: 12px;
color: #fff;
font-size: 10px;
line-height: 9px;
text-shadow: 0 1px 2px #555;
}
.recommend ul li .set{
    position: absolute;
    right: 20px;
    bottom: 40px;
    padding: 2px 3px;
    background-color: #a2a2b6;
    background-color: rgba(162,162,182,.5);
    color: #fff;
    font-size: 10px;
    line-height: 1;
}
.recommend ul li p:first-child{
    margin-top: 6px;
    padding: 0;
    color: #000028;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.recommend ul li p:last-child{
    margin-top: 4px;
    color: #a2a2b6;
    font-size: 12px;
    line-height: 18px;
}
.privilege {
    width: 100%;
}
.privilege ul{
    width: 136%;
}
.privilege ul li{
    display: inline-block;
    width: 82px;
}
.privilege ul li:nth-child(1) a i{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: url(./image/beijing.png) no-repeat top left/150px 100px;
}
.privilege ul li:nth-child(2) a i{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: url(./image/beijing.png) no-repeat top left/150px 100px;
    background-position: -51px -50px;
}
.privilege ul li:nth-child(3) a i{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: url(./image/beijing.png) no-repeat top left/150px 100px;
    background-position: 0px -50px;
}
.privilege ul li:nth-child(4) a i{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: url(./image/beijing.png) no-repeat top left/150px 100px;
    background-position: -51px -50px;
}
.privilege ul li:nth-child(5) a i{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: url(./image/beijing.png) no-repeat top left/150px 100px;
    background-position: -100px 0px;
}
.privilege ul li:nth-child(6) a i{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: url(./image/beijing.png) no-repeat top left/150px 100px;
    background-position: -100px -50px;
}
.recommend-bside{
    width: 100%;
    margin-top: 20px;
}
.recommend-bside ul{
    width: 100%;
}
.recommend-bside ul li img{
   width: 64px;
   height: 64px;
   margin: 0 40%;
}
.recommend-bside ul li{ 
    width: 33.3333333333333333%;
    float: left;
    
}
.recommend-bside ul li  span{
    color: black;
    margin: 0 40%;
    display: block;
    font-size: 14px;
    width: 70px;
}
.recommend-bside ul li  b{
    display: block;
    border: 1px solid #ebebeb;
    color: #ccc;
    margin: 0 40%;
    margin-top: 10px;
    text-align: center;
    padding: 5px 10px;
    width: 28px;
}
.comment{
    position: relative;
    width: 100%;
height: 30px;
margin-bottom: 10px;
margin-top: 20px;
}
.comment img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
}
.comment span{
position: absolute;
top: 10px;
left: 53px;
}
.comment-two {
    width: 100%;
}

.last{
    width: 100%;
}
.last a{
    width: 100%;
    height: 42px;
    padding: 11px 0;
    border: 1px solid #62606a;
    border-radius: 3px;
    text-align: center;
}
.last a span:first-child{
    display: inline-block;
    width: 23px;
    height: 20px;
    background: url(./image/logologo.png) no-repeat 9999em 9999em;
    background-size: 60px;
    background-position: 0 0;
    vertical-align: middle;
    margin-right: 10px;
}
.last a span:last-child{
    font-size: 15px;
    line-height: 20px;
    color: #030303;
}
.bottom{
    width: 100%;
}
.bottom .bottom-top{
    width: 100%;
}
.bottom .bottom-bottom{
    width: 100%;
}
.bottom-top .left img{
    width: 84px;
    height: 48px;
}
.bottom-top .left {
float: left;
}
.bottom-top .center {
 float: left;
}
.bottom-top .right {
float: right;
}
.bottom .bottom-top .right button{
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 66px;
    height: 32px;
    line-height: 32px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #FF6022;
    outline: none;
}
.look-up{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}
.look-up-left a img{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 75px;
    height: 29px;
}
.look-up-center{
    margin-left: 63px;
    margin-right: 50px;
}
.look-up-center input{
    width: 100%;
    margin-left: 0;
    margin-right:0 ;
}
.look-up-center{
    position: relative;
    margin-right: 38px;
    margin-left: 83px;
    padding: 1px;
    border-radius: 33px;
    background: #03b0ff;
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#5dcf0c),color-stop(30%,#2dbe8f),color-stop(100%,#03b0ff));
    background-clip: padding-box;
    background-image: -webkit-gradient(linear,left top,right top,from(#5dcf0c),color-stop(30%,#2dbe8f),to(#03b0ff));
    background-image: linear-gradient(90deg,#5dcf0c 0,#2dbe8f 30%,#03b0ff);
    font-size: 14px;
    line-height: 33px;
}
.look-up-center input{
    border-radius: 33px;
    background-color: #fff;
    border: none;
}
.look-up-right a{
    position: absolute;
    top: 13px;
    right: 27px;
    font-size: 14px;
    line-height: 33px;
    color: black;
}
.nav{
    margin-top: 55px;
    width: 100%;
    overflow: hidden;
}
.nav  .nav-bottom a{ 
 color: black;
float: left;
}
.nav  .nav-bottom{ 
    width: 110%;
    overflow: hidden;
}


